@font-face {
  font-family: "Source Sans Pro Latin";
  font-style: normal;
  font-weight: 400;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/MCQerpWbSuWxMbgCHKTw_Source-Sans-Pro latin-ext 400.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans Pro Latin";
  font-style: italic;
  font-weight: 400;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/KL6MQyKTn6dvtx662xpt_Source-Sans-Pro latin-ext italic 400.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans Pro Latin";
  font-style: normal;
  font-weight: 600;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/aGn3gyDRySV5lktPVtwz_Source-Sans-Pro latin-ext 600.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans Pro Latin";
  font-style: italic;
  font-weight: 600;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/ApvjbnrSnS6dtcJqvaBg_Source-Sans-Pro latin-ext italic 600.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans Pro Latin";
  font-style: normal;
  font-weight: 700;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/s7LyJm5ITViu04tMIKqK_Source-Sans-Pro latin-ext 700.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans Pro Latin";
  font-style: italic;
  font-weight: 700;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/ZoyeLEgXQupokht1507Q_Source-Sans-Pro latin-ext italic 700.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans Pro Greek";
  font-style: normal;
  font-weight: 400;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/he8i3ydiTm2sC5YwikCr_Source-Sans-Pro greek-ext 400.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans Pro Greek";
  font-style: italic;
  font-weight: 400;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/he8i3ydiTm2sC5YwikCr_Source-Sans-Pro greek-ext 400.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans Pro Greek";
  font-style: normal;
  font-weight: 600;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/mEiGSNeRTiCU1k4bvggK_Source-Sans-Pro greek-ext 600.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans Pro Greek";
  font-style: italic;
  font-weight: 600;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/mEiGSNeRTiCU1k4bvggK_Source-Sans-Pro greek-ext 600.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans Pro Greek";
  font-style: normal;
  font-weight: 700;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/UqFqKRE3RnusUsscjfJ9_Source-Sans-Pro greek-ext 700.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans Pro Greek";
  font-style: italic;
  font-weight: 700;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/UqFqKRE3RnusUsscjfJ9_Source-Sans-Pro greek-ext 700.woff2") format("woff2");
}

@font-face {
  font-family: "DINPro-Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/hOeLyYAdSg2DJsCXkjDn_DINPro-Condensed 700.woff2") format("woff2");
}

@font-face {
  font-family: "DINPro-Condensed";
  font-style: italic;
  font-weight: 700;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/hOeLyYAdSg2DJsCXkjDn_DINPro-Condensed 700.woff2") format("woff2");
}

@font-face {
  font-family: "DINPro-Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/bXhZg3fFSYSIF1jWtHb0_DINPro-Condensed 400.woff2") format("woff2");
}

@font-face {
  font-family: "DINPro-Condensed";
  font-style: italic;
  font-weight: 400;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/ixeeEMVHSOe3OuA75Goy_DINPro-Condensed Italic 400.woff2") format("woff2");
}