@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/0FwrBrFrSky6DSsjrNU7_SourceSansPro-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 400;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/UqE9lwz5StWGmvOzsx8D_SourceSansPro-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/YTBADS2ORpi1juu7vMFm_SourceSansPro-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 600;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/cMc2sMhgQgeIsX2DhnSF_SourceSansPro-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/cRNirb12Q0CCNzKpSulB_SourceSansPro-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 700;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/K4owQlmhTV6yYBKD1MkK_SourceSansPro-BoldItalic.woff2") format("woff2");
}

// @font-face {
//   font-family: "Source Sans Pro Greek";
//   font-style: normal;
//   font-weight: 400;
//   font-display: $fa-font-display;
//   src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/he8i3ydiTm2sC5YwikCr_Source-Sans-Pro greek-ext 400.woff2") format("woff2");
// }

// @font-face {
//   font-family: "Source Sans Pro Greek";
//   font-style: italic;
//   font-weight: 400;
//   font-display: $fa-font-display;
//   src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/he8i3ydiTm2sC5YwikCr_Source-Sans-Pro greek-ext 400.woff2") format("woff2");
// }

// @font-face {
//   font-family: "Source Sans Pro Greek";
//   font-style: normal;
//   font-weight: 600;
//   font-display: $fa-font-display;
//   src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/mEiGSNeRTiCU1k4bvggK_Source-Sans-Pro greek-ext 600.woff2") format("woff2");
// }

// @font-face {
//   font-family: "Source Sans Pro Greek";
//   font-style: italic;
//   font-weight: 600;
//   font-display: $fa-font-display;
//   src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/mEiGSNeRTiCU1k4bvggK_Source-Sans-Pro greek-ext 600.woff2") format("woff2");
// }

// @font-face {
//   font-family: "Source Sans Pro Greek";
//   font-style: normal;
//   font-weight: 700;
//   font-display: $fa-font-display;
//   src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/UqFqKRE3RnusUsscjfJ9_Source-Sans-Pro greek-ext 700.woff2") format("woff2");
// }

// @font-face {
//   font-family: "Source Sans Pro Greek";
//   font-style: italic;
//   font-weight: 700;
//   font-display: $fa-font-display;
//   src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/UqFqKRE3RnusUsscjfJ9_Source-Sans-Pro greek-ext 700.woff2") format("woff2");
// }

@font-face {
  font-family: "DINPro-Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/hOeLyYAdSg2DJsCXkjDn_DINPro-Condensed 700.woff2") format("woff2");
}

@font-face {
  font-family: "DINPro-Condensed";
  font-style: italic;
  font-weight: 700;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/hOeLyYAdSg2DJsCXkjDn_DINPro-Condensed 700.woff2") format("woff2");
}

@font-face {
  font-family: "DINPro-Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/bXhZg3fFSYSIF1jWtHb0_DINPro-Condensed 400.woff2") format("woff2");
}

@font-face {
  font-family: "DINPro-Condensed";
  font-style: italic;
  font-weight: 400;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/ixeeEMVHSOe3OuA75Goy_DINPro-Condensed Italic 400.woff2") format("woff2");
}