@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/TFA/acb64229-870e-4b8b-b4e7-bd9e39d372fd/UploadedFiles/lKr5UZdQAWtnXDisI5kH_SourceSansPro-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 400;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/TFA/acb64229-870e-4b8b-b4e7-bd9e39d372fd/UploadedFiles/iUuPpeSYTYa4FBNmfiCf_SourceSansPro-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/YTBADS2ORpi1juu7vMFm_SourceSansPro-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 600;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/TFA/acb64229-870e-4b8b-b4e7-bd9e39d372fd/UploadedFiles/XXB3uLCGQ8KPQm3I9JaZ_SourceSansPro-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/TFA/acb64229-870e-4b8b-b4e7-bd9e39d372fd/UploadedFiles/TW86rpuoTr2WqPrRUyOE_SourceSansPro-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 700;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/TFA/acb64229-870e-4b8b-b4e7-bd9e39d372fd/UploadedFiles/W9VvhD3lSFq50GLxmHaP_SourceSansPro-BoldItalic.woff2") format("woff2");
}

// @font-face {
//   font-family: "Source Sans Pro Greek";
//   font-style: normal;
//   font-weight: 400;
//   font-display: $fa-font-display;
//   src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/he8i3ydiTm2sC5YwikCr_Source-Sans-Pro greek-ext 400.woff2") format("woff2");
// }

// @font-face {
//   font-family: "Source Sans Pro Greek";
//   font-style: italic;
//   font-weight: 400;
//   font-display: $fa-font-display;
//   src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/he8i3ydiTm2sC5YwikCr_Source-Sans-Pro greek-ext 400.woff2") format("woff2");
// }

// @font-face {
//   font-family: "Source Sans Pro Greek";
//   font-style: normal;
//   font-weight: 600;
//   font-display: $fa-font-display;
//   src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/mEiGSNeRTiCU1k4bvggK_Source-Sans-Pro greek-ext 600.woff2") format("woff2");
// }

// @font-face {
//   font-family: "Source Sans Pro Greek";
//   font-style: italic;
//   font-weight: 600;
//   font-display: $fa-font-display;
//   src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/mEiGSNeRTiCU1k4bvggK_Source-Sans-Pro greek-ext 600.woff2") format("woff2");
// }

// @font-face {
//   font-family: "Source Sans Pro Greek";
//   font-style: normal;
//   font-weight: 700;
//   font-display: $fa-font-display;
//   src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/UqFqKRE3RnusUsscjfJ9_Source-Sans-Pro greek-ext 700.woff2") format("woff2");
// }

// @font-face {
//   font-family: "Source Sans Pro Greek";
//   font-style: italic;
//   font-weight: 700;
//   font-display: $fa-font-display;
//   src: url("https://higherlogicdownload.s3.amazonaws.com/HINTERLANDSAUPARTNERDEMO/ac317b4f-b597-439c-a0c4-80877e61e73d/UploadedFiles/UqFqKRE3RnusUsscjfJ9_Source-Sans-Pro greek-ext 700.woff2") format("woff2");
// }

@font-face {
  font-family: "DINPro-Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/TFA/acb64229-870e-4b8b-b4e7-bd9e39d372fd/UploadedFiles/BoViUiHnSTWFcdu1XbsJ_DINPro-Condensed%20700.woff2") format("woff2");
}

@font-face {
  font-family: "DINPro-Condensed";
  font-style: italic;
  font-weight: 700;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/TFA/acb64229-870e-4b8b-b4e7-bd9e39d372fd/UploadedFiles/cZ8OP1ARR7KAi60Cve3M_DINPro-Condensed%20Italic%20700.woff2") format("woff2");
}

@font-face {
  font-family: "DINPro-Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/TFA/acb64229-870e-4b8b-b4e7-bd9e39d372fd/UploadedFiles/FnbEL6jdROeaZneelgt8_DINPro-Condensed%20400.woff2") format("woff2");
}

@font-face {
  font-family: "DINPro-Condensed";
  font-style: italic;
  font-weight: 400;
  font-display: $fa-font-display;
  src: url("https://higherlogicdownload.s3.amazonaws.com/TFA/acb64229-870e-4b8b-b4e7-bd9e39d372fd/UploadedFiles/EK5jsktR0u8Ym0oabqHK_DINPro-Condensed%20Italic%20400.woff2") format("woff2");
}