/*********** feature cards start *****************/
.community-pages .community-home .featured-card {
    .featured-card-single {
        .single-card-info {
            padding-top: 0 !important;
        }
    }

    .featured-card-single.card-layout-split {
        border: 0;
        border-radius: 0;
        box-shadow: none;

        .d-flex.justify-content-start {
            @include media(desktop-and-down) {
                display: block !important;
            }
        }

        >div:nth-child(2) {
            @include media(desktop-and-down) {
                padding-left: 20px;
            }

            @include media(tablet-and-down) {
                padding-left: 0;
            }
        }
    }

    .featured-card-single.card-layout-split {
        .featured-card-image {
            min-height: 122px;
            background-size: 50%;
            background-repeat: no-repeat;
            border-radius: 32px;
            background-color: rgba(239, 239, 239, 0.24);
            border-radius: 32px;
        }

        .single-card-info {
            margin-top: $spacer-2;
            padding-right: 0 !important;
            padding-left: 0 !important;
            min-height: 250px;

            .card-description {
                color: rgba(60, 68, 83, 0.9) !important;
                font-family: $font-family-base;
                font-size: $font-size-base;
                text-align: left;
            }

            .spaced-row.spaced-row-2 {
                margin: 0;

                .btn {
                    width: 100%;
                    height: 40px;
                    border: none;
                    margin-left: 0;
                    margin-right: 0;
                    border-radius: 3px;
                    background-color: $secondary !important;
                    color: #3C4453 !important;
                    font-size: $body-font-size;
                    font-weight: $font-weight-semibold;

                    &:hover,
                    &:active,
                    &:focus {
                        background: $btn-secondary-bg-color-hover;
                        border-color: $btn-secondary-border-color;
                    }

                    &::after {
                        content: "";
                        font-family: "Font Awesome 5 Pro";
                        display: inline-block;
                        color: $primary;
                        vertical-align: middle;
                        margin-left: $spacer-2;
                        font-size: $font-size-xlg;
                        font-weight: $font-weight-light;
                    }
                }
            }
        }
    }
}

/*********** feature cards end *****************/

/*********** most active members start *****************/
.HLEngagement {
    margin-top: 20px;

    .heading h2 {
        color: $gray-dark;
        font-family: $font-family-base;
        font-size: $font-size-h3;
        font-weight: $font-weight-semibold;
        margin-bottom: $spacer-7;
    }

    .Content ul.display-vertical li.active-user-row {
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title-row {
            display: flex;

            .Picture {
                width: 40px;
            }

            .col-md-9 {
                justify-content: center;
                flex-direction: column;
                display: flex;

                @media (min-width: 992px) {
                    width: 100%;
                }

                @include media(tablet-and-down) {
                    padding-left: 15px;
                    padding-right: 15px;
                }

                a {
                    color: $gray-dark;
                    font-family: $font-family-base;
                    font-size: $font-size-base;
                    font-weight: $font-weight-semibold;
                    text-decoration: none;
                }
            }

            .ByLine {
                color: #808080;
                font-family: $font-family-base;
                font-size: $font-size-sm;
            }
        }

        .content-row {
            .col-md-9 {
                padding-left: 0;
                padding-right: 0;
            }

            .label-success {
                border-radius: 3px;
                background-color: $brand-primary;
                color: $white;
                font-size: $font-size-sm;
                font-weight: $font-weight-normal;
                padding-right: $spacer-2;
                padding-left: $spacer-2;
            }

            @media (min-width: 992px) {
                .col-md-9 {
                    width: unset;
                    padding-right: 0;
                }
            }
        }
    }
}

/*********** most active members end *****************/