.HLMyDocuments {
    .heading {
        h2 {
            margin-bottom: $spacer-8;
        }
    }
    .Content {
        >.row {
            ul {
                li {
                    padding: 0;
                    border: 0;
                    box-shadow: none;
                }
            }
        }
    }
}

.community-home {
    .HLMyDocuments {
        margin-top: $spacer-10;
        @include media(desktop-and-down) {
            margin-top: 0;
        }
    }
}