.HLDiscussions {
    .Content {
        >.row {
            &:nth-last-of-type(1) {
                .col-md-12 {
                    margin-top: $spacer-2;
                    text-align: center;

                    .btn-default {
                        height: 36px;
                        line-height: 36px;
                        padding: 0 24px;
                    }
                }
            }
            ul {
                li {
                    .ByLine {
                        a {
                            &::after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}