/****** basics ******/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
  font-family: $font-family-base !important;
}

body {
  font-family: $font-family-base;
  font-weight: $font-weight-normal;
  font-size: $font-size-base;
  line-height: $line-height-medium;
}

h3,
.h3,
.HLLandingControl h3 a {
  font-size: $font-size-h3;
  line-height: $line-height-h3;
}

h4,
.h4 {
  font-weight: 500;
  font-size: $font-size-h4;
  line-height: $line-height-h4;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.interior {
  #MainCopy_ContentWrapper {
    padding-top: 40px;
    padding-bottom: 100px;
  }
}


/* styleguide start */
h1,
.h1 {
  font-size: $font-size-h1;
  font-weight: $line-height-h1;
}

h2,
.h3 {
  font-size: $font-size-h2;
  font-weight: $line-height-h2;
}

h3,
.h3 {
  font-size: $font-size-h3;
  font-weight: $line-height-h3;
}

h4,
.h4 {
  font-size: $font-size-h4;
  font-weight: $line-height-h4;
}

h5,
.h5 {
  font-size: $font-size-h5;
  font-weight: $line-height-h5;
}

h6,
.h6 {
  font-size: $font-size-h6;
  font-weight: $line-height-h6;
}

body.ribbit {
  font-family: $font-family-sans-serif;
}

.bootstrap-select {
  &.open {
    .dropdown-toggle.btn-default {
      background-color: transparent;
    }
  }

  .btn.dropdown-toggle {
    &:focus {
      border-color: #66afe9;
      outline: 0 !important;
      outline-offset: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
  }

  .dropdown-menu {
    .text {
      color: #3C4453;
    }

    a {

      &:hover,
      &:focus,
      &:active {
        outline: none;
        background-color: $primary-blue;

        .text {
          color: $white;
        }
      }
    }
  }
}

.contributed-content-list {
  a {
    text-decoration: none;
  }

  .contributed-content-item-description {
    a {
      color: $gray-dark;
      font-size: $font-size-base;
      font-weight: $font-weight-semibold;
      line-height: 20px;

      &:hover,
      &:focus,
      &:active {
        color: $gray-dark;
      }
    }
  }
}

/*********** Tab start *****************/

body.ribbit.interior :not(.no-theme) #InteriorPageTitle {
  position: relative;
  background: $gray-dark;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #414F60 0%, rgba(34, 42, 52, 0) 100%);
  }

  svg {
    display: none;
  }

  #PageTitleH1 {
    font-family: $font-family-advanced !important;
    color: $secondary-blue !important;
    font-size: $font-size-h1;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }
}

body.ribbit .ContentUserControl.community-tabs-container-outer {
  background: $gray-dark;
  margin-top: -42px;

  .community-tabs-container #CommunityTabsContainer.nav.nav-tabs {

    .dropdown-menu {
      background: $gray-dark;
    }

    li {
      border-left: 4px;
      border-right: 4px;
      margin-bottom: 0;

      &:hover {
        border-bottom: 4px solid $secondary-blue;
      }

      a {
        font-size: $body-font-size;
        font-weight: $font-weight-semibold;
        color: $white;
        font-family: $font-family-base;

        .badge {
          border-radius: 4px;
          background-color: #FA383E;
          box-shadow: 0 3px 24px 0 rgba(131, 135, 145, 0.16);
        }
      }
    }
  }
}

body.ribbit .community-tabs-container #CommunityTabsContainer.nav.nav-tabs li {
  border-left: 4px;
  border-right: 4px;
}

body.ribbit :not(.no-theme) .community-tabs-container #CommunityTabsContainer.nav.nav-tabs li.active-tab,
body.ribbit .community-tabs-container #CommunityTabsContainer.nav.nav-tabs li:hover,
body.ribbit .community-tabs-container #CommunityTabsContainer.nav.nav-tabs li:focus {
  border-left: 4px;
  border-right: 4px;
  border-bottom: 4px solid $secondary-blue;
}

body.community-pages .community-home .community-tabs-container .community-tabs-actions {
  display: none;
}

#checkdv_1 {
  display: none;
}

.btn.mobile-fab {
  background: $primary !important;
  opacity: 1;
  &:hover,
  &:focus,
  &:active {
    background: $btn-primary-bg-color-hover !important;
  }
}
.btn.active-fab {
  background: $primary !important;
  &:hover,
  &:focus,
  &:active {
    background: $btn-primary-bg-color-hover !important;
  }
}

button {

  &:hover,
  &:focus,
  &:active,
  &:focus-visible {
    outline: none;
    outline-offset: 0;
  }
}

body.ribbit {
  .ProfileDropDown {
    .img-button {

      &:hover,
      &:focus,
      &:active,
      &:focus-visible {
        outline: none;
        outline-offset: 0;
      }
    }
  }
}

/*********** Tab end *****************/
body.ribbit.interior {
  #MainCopy_ContentWrapper {
    &.community-home {
      padding-bottom: 0;

      .hl-lg-v-padding {
        padding-bottom: $spacer-5;

        @include media(tablet-and-down) {
          padding-top: 0;
        }
      }
    }
  }
}
body.ribbit.home {
  .home {
    .row.row.hl-lg-v-padding {
      padding-top: 0;
    }
  }
}

body.ribbit #MainCopy_ContentWrapper>.row>div[class*=col-md-]>div[class*=Content] .HLLandingControl.HLEngagement {
  border-top: 0;
}

/*********** Pagination *****************/
.bootstrap-4 div.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: $spacer-4;
  position: relative;
  bottom: $spacer-1;
}

/*********** Icons *****************/
.contributed-content-list .item-icon {
  display: none;
}

/*********** Dropdowns *****************/
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  margin-bottom: $spacer-2;
}
div[id*="ContributedContentList"] .text-muted >span.padding-md-left {
  position: relative;
  bottom: $spacer-1;
}
